<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>編集 | Tainer</title>
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon.ico">
        <link rel="stylesheet" href="../css/edit.scss">
        <link rel="stylesheet" href="../css/responsive.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="edit-frame">
            <div class="edit-l">
                <%= render partial: 'boards/side_menubar' %>
            </div>
            <div class="edit-r">
                <div class="edit-prof-a">
                    <div class="edit-icon"><img src="/assets/DSC48723@2x.png"></div>
                </div>
                <div class="edit-prof-b">
                    <div class="input-area">
                    	<%= form_for @board do |f| %>
	                		<div class="form-group">
	                            <%= f.label :name, '名前', class: 'edit-form-name' %>
	                            <%= f.text_field :name, class: 'form-control' %>
	                        </div>
	                        <div class="form-group">
	                            <%= f.label :email, 'メールアドレス', class: 'edit-form-name' %>
	                            <%= f.text_field :email, class: 'form-control' %>
	                        </div>
	                        <div class="form-group">
	                            <%= f.label :profile, 'プロフィール', class: 'edit-form-name' %>
	                            <%= f.text_area :profile, class: 'profile-area', rows: 10 %>
	                        </div>
	                        <div class="update-area">
		                       <%= link_to 'キャンセル', :back, class: 'cancel' %>
		                        <%= f.submit 'プロフィールを更新', class: 'btn btn-update' %>
	                       	</div>
	                	<% end %>
                    </div>
                </div>
            </div>
        </div>
    <script src="script.js"></script>
    </body>
</html>